# project specific folders
notebooks/cache_dir
notebooks/wandb
notebooks/outputs
notebooks/runs
notebooks/.gitkeep
notebooks/.ipynb_checkpoints

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.DS_Store
